# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries used by Data Scientists  
- Create tables using Markdown  
- Share Jupyter Notebook with others  
- Explain Data Science tools

### Some of the popular languages that Data Scientists use are:

In [6]:
languages = ["Python", "R", "SQL", "Julia", "Scala"]

for i, lang in enumerate(languages, start=1):
    print(f"{i}. {lang}")

1. Python
2. R
3. SQL
4. Julia
5. Scala

### Some of the commonly used libraries used by Data Scientists include:

In [7]:
libraries = ["Pandas", "Numpy", "Matplotlib", "Seaborn", "Scikit-learn"]

for i, lib in enumerate(libraries, start=1):
    print(f"{i}. {lib}")

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn

## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# his will convert 200 minutes to hours by diving by 60
convert= 200/60
print("200 minitues = ", convert ,"hours")

200 minitues =  3.3333333333333335 hours

## Author  

Nour Eldin Hamed